*{
    margin: 0;
    width: 100%;
}

nav{
    height: 400px;
    background-color:#1A2B4C;
    color: white;
    text-align: center;
}
.headerTitle{
    padding-top: 100px;
}
.headerText{
    padding-top: 20px;
    width: 50%;
    height: auto;
    margin-left: 25%;
}
footer{
    height: 200px;
    background-color:#1A2B4C;
    color: white;
    text-align: center;
}
.footerText{
    padding-top: 50px;
}