*{
    margin: 0;
}

nav{
    height: 400px;
    background-color:#1A2B4C;
    color: white;
    text-align: center;
    width: 100%;

}
.headerTitle{
    padding-top: 100px;
}
.headerText{
    padding-top: 20px;
    width: 50%;
    height: auto;
    margin-left: 25%;
}
.selected{
    height: 300px;
    width: 350px;
    border: solid 1px black;
}
.budget{
    height: 500px;
    width: 350px;
    border: solid 1px black;
}
footer{
    height: 200px;
    background-color:#1A2B4C;
    color: white;
    text-align: center;
    width: 100%;
}
.footerText{
    padding-top: 50px;
}